@*@model LogRep.Models.Recipe
@{
    ViewData["Title"] = "Create";
}
<h1>@ViewData["Title"]</h1>


<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">uhhh</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">uhhh</span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label">uhhh</label>
                <textarea asp-for="Protein" class="form-control">uhhh</textarea>
                <span asp-validation-for="Protein" class="text-danger">uhhh</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
@model LogRep.Models.Recipe

@if (Model.Id != 0)
{
    <h1>Edit Recipe</h1>
}
else
{
    <h1>Create Recipe</h1>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Id != 0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Protein" class="control-label">Protein</label>
                <select asp-for="Protein" class="form-control">
                    <option value="">-- Select --</option>
                    <option value="Beef">Beef</option>
                    <option value="Chicken">Chicken</option>
                    <option value="Fish">Fish</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label">Ingredients</label>
                <textarea asp-for="Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label">Instructions</label>
                <textarea asp-for="Instructions" class="form-control"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
